<div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="banner">
            <img src="images/premier-league.jpg" alt="banner" class="img-responsive" />
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-8">
          <div class="leaguetablesidebar"><img src="http://www.premierleague.com/etc/designs/premierleague/images/sb_lt_logo.png" alt="" style="display: block;margin: 0 auto 20px;"><table cellspacing="0" cellpadding="0" class="leagueTable table"><tbody><tr><th class="col-club">Club</th><th class="col-pld">Pld</th><th class="col-pts">Pts</th></tr><tr class="accent1"><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/leicester" class="external">
                   Leicester 
                </a></td><td class="col-pld">26</td><td class="col-pts">53</td></tr><tr class="accent2"><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/spurs" class="external">
                   Spurs 
                </a></td><td class="col-pld">26</td><td class="col-pts">51</td></tr><tr class="accent2"><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/arsenal" class="external">
                   Arsenal 
                </a></td><td class="col-pld">26</td><td class="col-pts">51</td></tr><tr class="accent2"><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/man-city" class="external">
                   Man City 
                </a></td><td class="col-pld">26</td><td class="col-pts">47</td></tr><tr class="accent3"><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/man-utd" class="external">
                   Man Utd 
                </a></td><td class="col-pld">26</td><td class="col-pts">41</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/southampton" class="external">
                   Southampton 
                </a></td><td class="col-pld">26</td><td class="col-pts">40</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/west-ham" class="external">
                   West Ham 
                </a></td><td class="col-pld">26</td><td class="col-pts">40</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/liverpool" class="external">
                   Liverpool 
                </a></td><td class="col-pld">26</td><td class="col-pts">38</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/watford" class="external">
                   Watford 
                </a></td><td class="col-pld">26</td><td class="col-pts">36</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/stoke" class="external">
                   Stoke 
                </a></td><td class="col-pld">26</td><td class="col-pts">36</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/everton" class="external">
                   Everton 
                </a></td><td class="col-pld">26</td><td class="col-pts">35</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/chelsea" class="external">
                   Chelsea 
                </a></td><td class="col-pld">26</td><td class="col-pts">33</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/crystal-palace" class="external">
                   Crystal Palace 
                </a></td><td class="col-pld">26</td><td class="col-pts">32</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/west-brom" class="external">
                   West Brom 
                </a></td><td class="col-pld">26</td><td class="col-pts">32</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/bournemouth" class="external">
                   Bournemouth 
                </a></td><td class="col-pld">26</td><td class="col-pts">28</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/swansea" class="external">
                   Swansea 
                </a></td><td class="col-pld">26</td><td class="col-pts">27</td></tr><tr><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/norwich" class="external">
                   Norwich 
                </a></td><td class="col-pld">26</td><td class="col-pts">24</td></tr><tr class="accent4"><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/newcastle" class="external">
                   Newcastle 
                </a></td><td class="col-pld">26</td><td class="col-pts">24</td></tr><tr class="accent4"><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/sunderland" class="external">
                   Sunderland 
                </a></td><td class="col-pld">26</td><td class="col-pts">23</td></tr><tr class="accent4"><td class="col-club"><a href="http://www.premierleague.com/content/premierleague/en-gb/clubs/profile.overview.html/aston-villa" class="external">
                   Aston Villa 
                </a></td><td class="col-pld">26</td><td class="col-pts">16</td></tr></tbody></table>

                </div>
       </div>
        <div class="col-lg-4">
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <form name="form" ng-submit="login()" role="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <i class="fa fa-key"></i>
                    <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <i class="fa fa-lock"></i>
                    <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </form>

            <div class="ismStep ismStep1">
                <img src="http://cdn.ismfg.net/static/plfpl/img/step1_f.png" alt="" width="226" height="115">
                <div class="ismStepContent">
                    <h3 class="ismStepHeading">1. Pick your squad</h3>
                    <p>
                        Use your budget of £100m to pick a squad of 15 players from the Barclays Premier League.
                    </p>
                </div>
            </div>

            <div class="ismStep ismStep1">
                <img src="http://cdn.ismfg.net/static/plfpl/img/step1_f.png" alt="" width="226" height="115">
                <div class="ismStepContent">
                    <h3 class="ismStepHeading">2. Pick your squad</h3>
                    <p>
                        Use your budget of £100m to pick a squad of 15 players from the Barclays Premier League.
                    </p>
                </div>
            </div>


        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
